@import "normalize/normalize";

$primary_background: #a59e98;
$secondary_background: #ffffff;
$primary-font: 'Arial', 'Helvetica', sans-serif;

$screen-small : 480px;
$screen-medium: 768px;

@mixin tablet {
  @media (max-width: #{$screen-medium}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$screen-small}) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: $primary_background;
}

.container {
  max-width: 1024px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 46px 118px 46px;

  @include tablet {
    padding: 0 20px 70px 20px;
  }

  @include mobile {
    padding: 0 10px 40px 10px;
  }

}

.logo {
    text-align: center;
    display: block;
    margin-top: 44px;    
    position: relative;
    text-decoration: none;

    &__background {
      position: absolute;
      border-radius: 50%;
      width: 0;
      box-shadow: 0 0 200px 200px #fff;
      top:-90%;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: -1;
      opacity: 0.75;
    }
}

.title {
  color: rgba(84, 84, 84, 0.28);  
  font-size: 88.5px;
  font-family: 'Arial', 'Helvetica', sans-serif;
  margin: 0;
}

.header {
  padding: 11px 13px 13px 13px;
  margin-top: 13px;
  background: $secondary_background;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 2px 2px  #7c7773;
  align-items: center;

  @include tablet {
    flex-direction: column;
  }

}

.nav {
  display: flex;
  justify-content: space-between;
  flex: 1 1 50%;
  box-sizing: border-box;
  padding-left: 35px;

  @include tablet {
    width: 100%;
    justify-content: space-around;
    padding-left: 0;
  }

  &__el {
    text-decoration: none;
    font-family: $primary-font;
    font-size: 18px;
    color: #5b5b5b;

    &:hover {
      opacity: 0.5;
    }
  }
}

.search {
  flex: 0 50%;
  display: flex;
  justify-content: flex-end;
  flex: 1 1 50%;

  @include tablet {
    width: 100%;
    margin-top: 10px;
  }

  &__input {
    box-sizing: border-box;
    width: 262px;
    height: 32px;
    padding: 12px 50px 12px 12px;
    border: 1px solid #ececec;  
    box-shadow: -1px -1px 0 0 #fbfbfb;
    border-radius: 2px;
    background-image: url("../img/search-icon.svg");
    background-repeat: no-repeat;
    background-position: right 13px center;
    background-color: #fafafa;

    @include mobile {
      width: 100%;
    }
  }

  &__input::placeholder {
    font-family: $primary-font;
    font-style: italic;
    font-size: 18px;
    color: #e2e2e2;
  }
}

.banner {
  padding: 15px 11px;
  background: $secondary_background;
  margin-top: 15px;
  box-shadow: 0 0 2px 2px  #7c7773;
  position: relative;

  @include mobile {
    padding: 0;
  }
}

.next-btn, .prev-btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 5%;
  z-index: 10;
  opacity: 0.4;

  &:hover {
    opacity: 0.8;
  }
}

.next-btn {
  left: 25px;

  @include mobile {
    left: 10px;
  }
}

.prev-btn {
  right: 25px;

  @include mobile {
    right: 10px;
  }
}

.owl-dots {
  display: none;
}

img {
  display: block;
  width: 100%;
}

.portfolio {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;

  @include tablet{
    flex-wrap: wrap;
  }
  
  &__elem {
    background: $secondary_background;
    box-shadow: 0 0 2px 2px  #7c7773;
    padding: 12px 12px 22px 12px;
    margin-right: 11px;
    box-sizing: border-box;

    @include tablet {
      flex: 0 1 49%;
      margin-right: 0;
    }

    @include mobile {
      flex: 1 0 100%;
    }
  }

  &__elem:last-child {
    margin-right: 0;
  }

  &__elem:nth-child(n+3) {
    @include tablet {
      margin-top: 10px;
    }
  }

  &__elem:nth-child(n+2) {
    @include mobile {
      margin-top: 10px;
    }
  }
}

.figcaption, .more {
  font-family: $primary-font;
  font-size: 12px;
  color: #1f1f1f;
}

.figcaption {  
  text-indent: 35px;
}

.more {
  float: right;
  margin-top: 30px;

  &:hover {
    opacity: 0.5;
  }
}

.blog {
  background: $secondary_background;
  box-shadow: 0 0 2px 2px  #7c7773;
  padding: 12px 11px 22px 11px;
  margin-top: 16px;
  display: flex;
  align-items: flex-start;

  @include tablet{
    flex-direction: column-reverse;
  }

  &__gallery {
    display: flex;
    justify-content: space-between;
    align-content: space-between; 
    flex-wrap: wrap;
    width: 25%;    

    @include tablet{
      width: 100%;
      margin-top: 10px;
      flex-wrap: no-wrap;
    }

    @include mobile{
      width: 100%;
      margin-top: 10px;     
    }
  }

  &__img {
    flex: 0 1 49%;

    @include tablet{
      flex: 0 1 24%;
    }

    @include mobile{
      flex: 0 1 49%;     
    }
  }

  &__img:nth-child(n + 3) {
    margin-top: 2%;

    @include tablet{
     margin-top: 0;
    }

    @include mobile{
      margin-top: 2%;     
    }

  }

  &__title {
    font-family: $primary-font;
    font-size: 18px;
    margin-top: 0;
    
    @include tablet {
      text-align: center;
    }
  }

  &__content {
    width: 75%;
    margin-left: 16px;

    @include tablet{
      width: 100%;      
      margin-left: 0;
    }
  }
}

.footer {
  background: $secondary_background;
  padding: 22px;
  box-shadow: 0 0 2px 2px  #7c7773;
  margin-top: 15px;
  display: flex;

  @include tablet {
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 12px;
  }

  &__item {
    font-family: $primary-font;
    font-size: 14px;
    color: #545454;
    text-decoration: none;
    margin-right: 15px;
    white-space: nowrap;

    @include tablet {
      margin: 10px 10px 0 10px;
    }

  }

  a:hover {
    opacity: 0.5;
  }
}