.Input {
  padding: 5px;
  box-sizing: border-box;
}

.Label {
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font: inherit;
  padding: 6px 10px;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  border: 1px solid red;
  background-color: salmon;
}

@media (min-width: 375px) {
  .Input {
    padding: 10px;
  }
}