* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

.header {
  position: fixed;
  background: #ffb3b3;
  height: 40px;
  max-width: 1024px;
  min-width: 320px;
  width: 100%;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 10px;
  z-index: 20; }

.container {
  background: #99bbff;
  max-width: 1024px;
  min-width: 320px;
  height: calc(100vh - 40px);
  position: relative;
  top: 40px;
  margin: 0 auto; }

.aside {
  position: absolute;
  width: 300px;
  background: #ccccb3;
  top: 0;
  height: 100%;
  padding: 10px;
  z-index: 10;
  display: none;
  overflow: hidden;
  white-space: nowrap; }

.aside-left {
  left: 0; }

.aside-right {
  right: 0; }

.wrapper {
  padding: 10px 10px 0 10px; }

.page-description {
  height: 100px;
  background: #99e699;
  padding: 10px; }

.content {
  display: flex;
  height: calc(100% - 100px - 30px - 10px);
  justify-content: space-between;
  padding: 10px; }
  @media (max-width: 480px) {
    .content {
      flex-direction: column; } }

.content__item1 {
  background: #80ffcc;
  height: 100%;
  width: 100%;
  padding: 10px; }
  @media (max-width: 480px) {
    .content__item1 {
      order: 2; } }

.content__item2 {
  background: #ffffb3;
  height: 100%;
  flex-basis: 200px;
  flex-grow: 1;
  position: sticky;
  top: 40px;
  padding: 10px; }

.footer {
  background: #ff9980;
  height: 30px;
  max-width: 1024px;
  min-width: 320px;
  padding: 10px; }
